In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
import seaborn as sns
import datetime as dt

## Read CSV File into DataFrames

In [2]:
# global land temperature data by city, with latitude/longitude values
filename = 'Global-Land-Temperatures-By-City.csv'
temp_df = pd.read_csv(filename)
temp_df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [3]:
# US federal emergency data, join on county
filename1 = 'federal_emergencies.csv'
disaster_df = pd.read_csv(filename1)
disaster_df.head()

,Declaration Number,Declaration Type,Declaration Date,State,County,Disaster Type,Disaster Title,Start Date,End Date,Close Date,Individual Assistance Program,Individuals & Households Program,Public Assistance Program,Hazard Mitigation Program
0,DR-1,Disaster,05/02/1953,GA,NaN,Tornado,Tornado,05/02/1953,05/02/1953,06/01/1954,Yes,No,Yes,Yes
1,DR-2,Disaster,05/15/1953,TX,NaN,Tornado,Tornado and Heavy Rainfall,05/15/1953,05/15/1953,01/01/1958,Yes,No,Yes,Yes
2,DR-3,Disaster,05/29/1953,LA,NaN,Flood,Flood,05/29/1953,05/29/1953,02/01/1960,Yes,No,Yes,Yes
3,DR-4,Disaster,06/02/1953,MI,NaN,Tornado,Tornado,06/02/1953,06/02/1953,02/01/1956,Yes,No,Yes,Yes
4,DR-5,Disaster,06/06/1953,MT,NaN,Flood,Floods,06/06/1953,06/06/1953,12/01/1955,Yes,No,Yes,Yes

In [4]:
# data of latitude/longitude and county to merge two dataframes
filename2 = 'zip_codes_states.csv'
us_join = pd.read_csv(filename2)
us_join.head()

   zip_code   latitude  longitude        city state     county
0       501  40.922326 -72.637078  Holtsville    NY    Suffolk
1       544  40.922326 -72.637078  Holtsville    NY    Suffolk
2       601  18.165273 -66.722583    Adjuntas    PR   Adjuntas
3       602  18.393103 -67.180953      Aguada    PR     Aguada
4       603  18.455913 -67.145780   Aguadilla    PR  Aguadilla

# Cleaning DataFrames

### temp_df

In [5]:
# temp_df: drop all countries except US and drop NaN values
temp_us = temp_df[temp_df['Country'] == 'United States'].dropna()
temp_us.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
47555,1820-01-01,2.101,3.217,Abilene,United States,32.95N,100.53W
47556,1820-02-01,6.926,2.853,Abilene,United States,32.95N,100.53W
47557,1820-03-01,10.767,2.395,Abilene,United States,32.95N,100.53W
47558,1820-04-01,17.989,2.202,Abilene,United States,32.95N,100.53W
47559,1820-05-01,21.809,2.036,Abilene,United States,32.95N,100.53W

In [6]:
temp_us.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 661524 entries, 47555 to 8439246
Data columns (total 7 columns):
dt                               661524 non-null object
AverageTemperature               661524 non-null float64
AverageTemperatureUncertainty    661524 non-null float64
City                             661524 non-null object
Country                          661524 non-null object
Latitude                         661524 non-null object
Longitude                        661524 non-null object
dtypes: float64(2), object(5)
memory usage: 40.4+ MB

In [7]:
# temp_df: create new lat/long columns dropping NESW direction
temp_us['lat_n'] = [float(lat[:-1]) if lat[-1]=='N' else -1*float(lat[:-1]) for lat in temp_us.loc[:,'Latitude']]
temp_us['lon_n'] = [float(lon[:-1]) if lon[-1]=='E' else -1*float(lon[:-1]) for lon in temp_us.loc[:,'Longitude']]
temp_us.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,lat_n,lon_n
47555,1820-01-01,2.101,3.217,Abilene,United States,32.95N,100.53W,32.95,-100.53
47556,1820-02-01,6.926,2.853,Abilene,United States,32.95N,100.53W,32.95,-100.53
47557,1820-03-01,10.767,2.395,Abilene,United States,32.95N,100.53W,32.95,-100.53
47558,1820-04-01,17.989,2.202,Abilene,United States,32.95N,100.53W,32.95,-100.53
47559,1820-05-01,21.809,2.036,Abilene,United States,32.95N,100.53W,32.95,-100.53

In [8]:
# unique coordinates in the temp_us dataframe
temp_us_coords = temp_us[['lat_n','lon_n']].drop_duplicates()
temp_us_coords.head()

        lat_n   lon_n
47555   32.95 -100.53
137066  40.99  -80.95
168075  34.56 -107.03
187528  39.38  -76.99
202251  40.99  -74.56

In [9]:
# function adds a column with pythagorean theorem 
def coord2loc(coords):
    us2 = us_join.copy()
    us2['dist'] = ((us2.latitude-coords.lat_n)**2+(us2.longitude-coords.lon_n)**2)**(1/2)
    state = us2.loc[us2.dist==min(us2.dist)]['state'].values[0]
    county = us2.loc[us2.dist==min(us2.dist)]['county'].values[0]
    return([coords.lat_n,coords.lon_n,state,county])

In [10]:
# create dataframe to join on between
join = pd.DataFrame([coord2loc(coords[1]) for coords in temp_us_coords.iterrows()])
join.columns = ['lat_n','lon_n','state','county']

In [11]:
# merge temp_df and us_join
temp_county = pd.merge(temp_us, join, how='left', on = ['lat_n', 'lon_n'])
temp_county.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,lat_n,lon_n,state,county
0,1820-01-01,2.101,3.217,Abilene,United States,32.95N,100.53W,32.95,-100.53,TX,Fisher
1,1820-02-01,6.926,2.853,Abilene,United States,32.95N,100.53W,32.95,-100.53,TX,Fisher
2,1820-03-01,10.767,2.395,Abilene,United States,32.95N,100.53W,32.95,-100.53,TX,Fisher
3,1820-04-01,17.989,2.202,Abilene,United States,32.95N,100.53W,32.95,-100.53,TX,Fisher
4,1820-05-01,21.809,2.036,Abilene,United States,32.95N,100.53W,32.95,-100.53,TX,Fisher

In [12]:
# Extract the year from the datetime object and create a new column "year"
temp_county['year'] = [date[:4]
 for date in temp_county.loc[:,'dt']]
temp_county.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,lat_n,lon_n,state,county,year
0,1820-01-01,2.101,3.217,Abilene,United States,32.95N,100.53W,32.95,-100.53,TX,Fisher,1820
1,1820-02-01,6.926,2.853,Abilene,United States,32.95N,100.53W,32.95,-100.53,TX,Fisher,1820
2,1820-03-01,10.767,2.395,Abilene,United States,32.95N,100.53W,32.95,-100.53,TX,Fisher,1820
3,1820-04-01,17.989,2.202,Abilene,United States,32.95N,100.53W,32.95,-100.53,TX,Fisher,1820
4,1820-05-01,21.809,2.036,Abilene,United States,32.95N,100.53W,32.95,-100.53,TX,Fisher,1820

In [13]:
# add "County" to the end of the county names to join on the disaster dataframe
temp_county['countyname'] = temp_county.county +' County'

In [14]:
temp_county.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,lat_n,lon_n,state,county,year,countyname
0,1820-01-01,2.101,3.217,Abilene,United States,32.95N,100.53W,32.95,-100.53,TX,Fisher,1820,Fisher County
1,1820-02-01,6.926,2.853,Abilene,United States,32.95N,100.53W,32.95,-100.53,TX,Fisher,1820,Fisher County
2,1820-03-01,10.767,2.395,Abilene,United States,32.95N,100.53W,32.95,-100.53,TX,Fisher,1820,Fisher County
3,1820-04-01,17.989,2.202,Abilene,United States,32.95N,100.53W,32.95,-100.53,TX,Fisher,1820,Fisher County
4,1820-05-01,21.809,2.036,Abilene,United States,32.95N,100.53W,32.95,-100.53,TX,Fisher,1820,Fisher County

In [15]:
temp_county.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 661524 entries, 0 to 661523
Data columns (total 13 columns):
dt                               661524 non-null object
AverageTemperature               661524 non-null float64
AverageTemperatureUncertainty    661524 non-null float64
City                             661524 non-null object
Country                          661524 non-null object
Latitude                         661524 non-null object
Longitude                        661524 non-null object
lat_n                            661524 non-null float64
lon_n                            661524 non-null float64
state                            661524 non-null object
county                           661524 non-null object
year                             661524 non-null object
countyname                       661524 non-null object
dtypes: float64(4), object(9)
memory usage: 70.7+ MB

### disaster_df

In [16]:
disaster_county = disaster_df.copy()

In [17]:
# Extract the year from the datetime object and create a new column "Year"
disaster_county['Year'] = [date[-4:]
 for date in disaster_county.loc[:,'Declaration Date']]

In [18]:
# group by year county name and year
avg_year_temp = temp_county.groupby(['countyname','year']).mean().reset_index()

In [19]:
# left join on county and year
join_county = pd.merge(disaster_county, avg_year_temp, how='left', left_on=['County','Year'], right_on=['countyname','year'])
join_county.head()

,Declaration Number,Declaration Type,Declaration Date,State,County,Disaster Type,Disaster Title,Start Date,End Date,Close Date,...,Individuals & Households Program,Public Assistance Program,Hazard Mitigation Program,Year,countyname,year,AverageTemperature,AverageTemperatureUncertainty,lat_n,lon_n
0,DR-1,Disaster,05/02/1953,GA,NaN,Tornado,Tornado,05/02/1953,05/02/1953,06/01/1954,...,No,Yes,Yes,1953,NaN,NaN,NaN,NaN,NaN,NaN
1,DR-2,Disaster,05/15/1953,TX,NaN,Tornado,Tornado and Heavy Rainfall,05/15/1953,05/15/1953,01/01/1958,...,No,Yes,Yes,1953,NaN,NaN,NaN,NaN,NaN,NaN
2,DR-3,Disaster,05/29/1953,LA,NaN,Flood,Flood,05/29/1953,05/29/1953,02/01/1960,...,No,Yes,Yes,1953,NaN,NaN,NaN,NaN,NaN,NaN
3,DR-4,Disaster,06/02/1953,MI,NaN,Tornado,Tornado,06/02/1953,06/02/1953,02/01/1956,...,No,Yes,Yes,1953,NaN,NaN,NaN,NaN,NaN,NaN
4,DR-5,Disaster,06/06/1953,MT,NaN,Flood,Floods,06/06/1953,06/06/1953,12/01/1955,...,No,Yes,Yes,1953,NaN,NaN,NaN,NaN,NaN,NaN

With this join, a lot of columns were lost in the temperature dataframe, so I will try to join on state instead of county.

In [20]:
# temperature data grouped by state and year
dftemp1 = temp_county.copy()
dftemp2 = dftemp1.groupby(['state','year'], as_index=False).mean()

In [21]:
# disaster data, creating a new column with just the year, taken from the declaration date
dfdisaster1 = disaster_df.copy()
dfdisaster1['Year'] = [date[-4:]
 for date in dfdisaster1.loc[:,'Declaration Date']]

In [22]:
# left join on the disaster data, joined on state and year
join_state = pd.merge(dfdisaster1, dftemp2, how='left', left_on=['State','Year'], right_on=['state','year'])
join_state_1 = join_state[['Declaration Number','Declaration Date','State','state','Year','year','AverageTemperature']]
join_state.dropna().head()

,Declaration Number,Declaration Type,Declaration Date,State,County,Disaster Type,Disaster Title,Start Date,End Date,Close Date,...,Individuals & Households Program,Public Assistance Program,Hazard Mitigation Program,Year,state,year,AverageTemperature,AverageTemperatureUncertainty,lat_n,lon_n
89,DR-91,Disaster,01/29/1959,IN,Clay County,Flood,Flood,01/29/1959,01/29/1959,11/01/1960,...,No,Yes,Yes,1959,IN,1959,10.942726,0.279107,40.53000,-86.154286
181,DR-183,Disaster,12/24/1964,CA,Alpine County,Flood,Heavy Rains and Flooding,12/24/1964,12/24/1964,04/05/1976,...,No,Yes,Yes,1964,CA,1964,14.984466,0.406251,35.33871,-119.288871
182,DR-183,Disaster,12/24/1964,CA,Amador County,Flood,Heavy Rains and Flooding,12/24/1964,12/24/1964,04/05/1976,...,No,Yes,Yes,1964,CA,1964,14.984466,0.406251,35.33871,-119.288871
183,DR-183,Disaster,12/24/1964,CA,Butte County,Flood,Heavy Rains and Flooding,12/24/1964,12/24/1964,04/05/1976,...,No,Yes,Yes,1964,CA,1964,14.984466,0.406251,35.33871,-119.288871
184,DR-183,Disaster,12/24/1964,CA,Colusa County,Flood,Heavy Rains and Flooding,12/24/1964,12/24/1964,04/05/1976,...,No,Yes,Yes,1964,CA,1964,14.984466,0.406251,35.33871,-119.288871