In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
import seaborn as sns
import datetime as dt

## Read CSV File into DataFrames

In [2]:
# global land temperature data by city, with latitude/longitude values
filename = 'Global-Land-Temperatures-By-City.csv'
temp_df = pd.read_csv(filename, parse_dates = True, index_col = 'dt')
temp_df.tail()

,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
dt,,,,,,
2013-05-01,11.464,0.236,Zwolle,Netherlands,52.24N,5.26E
2013-06-01,15.043,0.261,Zwolle,Netherlands,52.24N,5.26E
2013-07-01,18.775,0.193,Zwolle,Netherlands,52.24N,5.26E
2013-08-01,18.025,0.298,Zwolle,Netherlands,52.24N,5.26E
2013-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E

In [3]:
# US federal emergency data, join on county
filename1 = 'federal_emergencies.csv'
disaster_df = pd.read_csv(filename1)
disaster_df.head()

,Declaration Number,Declaration Type,Declaration Date,State,County,Disaster Type,Disaster Title,Start Date,End Date,Close Date,Individual Assistance Program,Individuals & Households Program,Public Assistance Program,Hazard Mitigation Program
0,DR-1,Disaster,05/02/1953,GA,NaN,Tornado,Tornado,05/02/1953,05/02/1953,06/01/1954,Yes,No,Yes,Yes
1,DR-2,Disaster,05/15/1953,TX,NaN,Tornado,Tornado and Heavy Rainfall,05/15/1953,05/15/1953,01/01/1958,Yes,No,Yes,Yes
2,DR-3,Disaster,05/29/1953,LA,NaN,Flood,Flood,05/29/1953,05/29/1953,02/01/1960,Yes,No,Yes,Yes
3,DR-4,Disaster,06/02/1953,MI,NaN,Tornado,Tornado,06/02/1953,06/02/1953,02/01/1956,Yes,No,Yes,Yes
4,DR-5,Disaster,06/06/1953,MT,NaN,Flood,Floods,06/06/1953,06/06/1953,12/01/1955,Yes,No,Yes,Yes

In [4]:
# data of latitude/longitude and county to merge two dataframes
filename2 = 'zip_codes_states.csv'
us_join = pd.read_csv(filename2)
us_join.head()

   zip_code   latitude  longitude        city state     county
0       501  40.922326 -72.637078  Holtsville    NY    Suffolk
1       544  40.922326 -72.637078  Holtsville    NY    Suffolk
2       601  18.165273 -66.722583    Adjuntas    PR   Adjuntas
3       602  18.393103 -67.180953      Aguada    PR     Aguada
4       603  18.455913 -67.145780   Aguadilla    PR  Aguadilla

# Cleaning DataFrames

### temp_df

In [5]:
# temp_df: drop all countries except US and drop NaN values
temp_us = temp_df[temp_df['Country'] == 'United States'].dropna()
temp_us.head()

,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
dt,,,,,,
1820-01-01,2.101,3.217,Abilene,United States,32.95N,100.53W
1820-02-01,6.926,2.853,Abilene,United States,32.95N,100.53W
1820-03-01,10.767,2.395,Abilene,United States,32.95N,100.53W
1820-04-01,17.989,2.202,Abilene,United States,32.95N,100.53W
1820-05-01,21.809,2.036,Abilene,United States,32.95N,100.53W

In [6]:
temp_us.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 661524 entries, 1820-01-01 to 2013-09-01
Data columns (total 6 columns):
AverageTemperature               661524 non-null float64
AverageTemperatureUncertainty    661524 non-null float64
City                             661524 non-null object
Country                          661524 non-null object
Latitude                         661524 non-null object
Longitude                        661524 non-null object
dtypes: float64(2), object(4)
memory usage: 35.3+ MB

In [7]:
# temp_df: clean up lat/long data by dropping the NESW direction
temp_us["Latitude"] = temp_us['Latitude'].map(lambda x: str(x)[:-1])
temp_us["Longitude"] = temp_us['Longitude'].map(lambda x: str(x)[:-1])
temp_us.head()

,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
dt,,,,,,
1820-01-01,2.101,3.217,Abilene,United States,32.95,100.53
1820-02-01,6.926,2.853,Abilene,United States,32.95,100.53
1820-03-01,10.767,2.395,Abilene,United States,32.95,100.53
1820-04-01,17.989,2.202,Abilene,United States,32.95,100.53
1820-05-01,21.809,2.036,Abilene,United States,32.95,100.53

In [8]:
temp_us.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 661524 entries, 1820-01-01 to 2013-09-01
Data columns (total 6 columns):
AverageTemperature               661524 non-null float64
AverageTemperatureUncertainty    661524 non-null float64
City                             661524 non-null object
Country                          661524 non-null object
Latitude                         661524 non-null object
Longitude                        661524 non-null object
dtypes: float64(2), object(4)
memory usage: 35.3+ MB

In [9]:
# create new columns: latitude and longitude numerical, which convert the objects to float64s
temp_us['Latitude_num'] = [float(lat) for lat in temp_us.Latitude]
temp_us['Longitude_num'] = [float(long) for long in temp_us.Longitude]
temp_us.head()

,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,Latitude_num,Longitude_num
dt,,,,,,,,
1820-01-01,2.101,3.217,Abilene,United States,32.95,100.53,32.95,100.53
1820-02-01,6.926,2.853,Abilene,United States,32.95,100.53,32.95,100.53
1820-03-01,10.767,2.395,Abilene,United States,32.95,100.53,32.95,100.53
1820-04-01,17.989,2.202,Abilene,United States,32.95,100.53,32.95,100.53
1820-05-01,21.809,2.036,Abilene,United States,32.95,100.53,32.95,100.53

In [10]:
temp_us.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 661524 entries, 1820-01-01 to 2013-09-01
Data columns (total 8 columns):
AverageTemperature               661524 non-null float64
AverageTemperatureUncertainty    661524 non-null float64
City                             661524 non-null object
Country                          661524 non-null object
Latitude                         661524 non-null object
Longitude                        661524 non-null object
Latitude_num                     661524 non-null float64
Longitude_num                    661524 non-null float64
dtypes: float64(4), object(4)
memory usage: 45.4+ MB

In [11]:
# test that value search works for the float64
temp_us[temp_us['Latitude_num'] == 32.95].head()

,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,Latitude_num,Longitude_num
dt,,,,,,,,
1820-01-01,2.101,3.217,Abilene,United States,32.95,100.53,32.95,100.53
1820-02-01,6.926,2.853,Abilene,United States,32.95,100.53,32.95,100.53
1820-03-01,10.767,2.395,Abilene,United States,32.95,100.53,32.95,100.53
1820-04-01,17.989,2.202,Abilene,United States,32.95,100.53,32.95,100.53
1820-05-01,21.809,2.036,Abilene,United States,32.95,100.53,32.95,100.53

In [12]:
temp_us['Latitude_num'].unique()

array([32.95, 40.99, 34.56, 39.38, 61.88, 42.59, 37.78, 29.74, 36.17,
       47.42, 26.52, 28.13, 31.35, 44.2 , 45.81])

In [13]:
temp_us['Latitude_num'] = temp_us.round({'Latitude_num':1})

### us_join

In [14]:
us_join = us_join.dropna()

In [15]:
us_join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42049 entries, 0 to 42740
Data columns (total 6 columns):
zip_code     42049 non-null int64
latitude     42049 non-null float64
longitude    42049 non-null float64
city         42049 non-null object
state        42049 non-null object
county       42049 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 2.2+ MB

In [16]:
# us_join: convert negative longitude values to positive to match the temp_us df
us_join['longitude'] = us_join['longitude'].map(lambda x: str(x)[1:])
us_join.head()

   zip_code   latitude  longitude        city state     county
0       501  40.922326  72.637078  Holtsville    NY    Suffolk
1       544  40.922326  72.637078  Holtsville    NY    Suffolk
2       601  18.165273  66.722583    Adjuntas    PR   Adjuntas
3       602  18.393103  67.180953      Aguada    PR     Aguada
4       603  18.455913   67.14578   Aguadilla    PR  Aguadilla

In [17]:
us_join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42049 entries, 0 to 42740
Data columns (total 6 columns):
zip_code     42049 non-null int64
latitude     42049 non-null float64
longitude    42049 non-null object
city         42049 non-null object
state        42049 non-null object
county       42049 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.2+ MB

In [18]:
# us_join: round latitude and longitude values to two decimal points
us_join['latitude'] = us_join['latitude'].round(decimals=2)
us_join['longitude'] = us_join['longitude'].round(decimals=2)
us_join.head()

TypeError: can't multiply sequence by non-int of type 'float'

In [19]:
us_join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42049 entries, 0 to 42740
Data columns (total 6 columns):
zip_code     42049 non-null int64
latitude     42049 non-null float64
longitude    42049 non-null object
city         42049 non-null object
state        42049 non-null object
county       42049 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.2+ MB

In [20]:
us_join['latitude_num'] = us_join['latitude']
us_join['longitude_num'] = [float(long) for long in us_join.longitude]

In [21]:
us_join.head()

,zip_code,latitude,longitude,city,state,county,latitude_num,longitude_num
0,501,40.92,72.637078,Holtsville,NY,Suffolk,40.92,72.637078
1,544,40.92,72.637078,Holtsville,NY,Suffolk,40.92,72.637078
2,601,18.17,66.722583,Adjuntas,PR,Adjuntas,18.17,66.722583
3,602,18.39,67.180953,Aguada,PR,Aguada,18.39,67.180953
4,603,18.46,67.14578,Aguadilla,PR,Aguadilla,18.46,67.145780

In [22]:
us_join['latitude_num'] = us_join.round({'latitude_num':1})

In [23]:
inner_join = pd.merge(us_join, temp_us, how='inner', left_on = 'latitude_num', right_on = 'Latitude_num')
inner_join

Empty DataFrame
Columns: [zip_code, latitude, longitude, city, state, county, latitude_num, longitude_num, AverageTemperature, AverageTemperatureUncertainty, City, Country, Latitude, Longitude, Latitude_num, Longitude_num]
Index: []

In [24]:
# tried to join on both latitude and longitude, but temp_us data does not show
outerjoin_lat_long = pd.merge(us_join, temp_us, how='inner', left_on = ['latitude_num', 'longitude_num'], right_on = ['Latitude_num', 'Longitude_num'])
#temp_us.set_index('Latitude').join(us_join.set_index('latitude')).reset_index()
outerjoin_lat_long

Empty DataFrame
Columns: [zip_code, latitude, longitude, city, state, county, latitude_num, longitude_num, AverageTemperature, AverageTemperatureUncertainty, City, Country, Latitude, Longitude, Latitude_num, Longitude_num]
Index: []

In [25]:
us_join['latitude_num'].unique()

array([501, 544, 601, ..., 99928, 99929, 99950], dtype=object)

In [26]:
temp_us['Latitude_num'].unique()

array([2.1010000000000004, 6.926, 10.767000000000001, ..., 33.778, 33.593,
       31.184], dtype=object)

In [27]:
disaster_df = disaster_df.dropna()
disaster_df['County split'] = disaster_df['County'].str.extract(r"\((.*?)\)")

In [28]:
import re
[re.sub(r' County', '', str(count)) for count in disaster_df['County']]

['Clay',
 'Alpine',
 'Amador',
 'Butte',
 'Colusa',
 'Del Norte',
 'El Dorado',
 'Glenn',
 'Humboldt',
 'Lake',
 'Lassen',
 'Marin',
 'Mendocino',
 'Modoc',
 'Napa',
 'Nevada',
 'Placer',
 'Plumas',
 'Sacramento',
 'San Joaquin',
 'Shasta',
 'Sierra',
 'Siskiyou',
 'Solano',
 'Sonoma',
 'Stanislaus',
 'Sutter',
 'Tehama',
 'Trinity',
 'Tuolumne',
 'Yolo',
 'Yuba',
 'Baker',
 'Benton',
 'Clackamas',
 'Clatsop',
 'Columbia',
 'Coos',
 'Crook',
 'Curry',
 'Deschutes',
 'Douglas',
 'Gilliam',
 'Grant',
 'Harney',
 'Hood River',
 'Jackson',
 'Jefferson',
 'Josephine',
 'Klamath',
 'Lake',
 'Lane',
 'Lincoln',
 'Linn',
 'Malheur',
 'Marion',
 'Morrow',
 'Multnomah',
 'Polk',
 'Sherman',
 'Tillamook',
 'Umatilla',
 'Union',
 'Wallowa',
 'Wasco',
 'Washington',
 'Wheeler',
 'Yamhill',
 'Asotin',
 'Benton',
 'Clark',
 'Columbia',
 'Cowlitz',
 'Garfield',
 'Grays Harbor',
 'King',
 'Kittitas',
 'Klickitat',
 'Lewis',
 'Mason',
 'Pacific',
 'Pierce',
 'Skamania',
 'Snohomish',
 'Spokane',
 'Wahkiakum',
 'Walla Walla',
 'Whitman',
 'Yakima',
 'Ada',
 'Bannock',
 'Benewah',
 'Blaine',
 'Boise',
 'Bonneville',
 'Butte',
 'Camas',
 'Caribou',
 'Cassia',
 'Clearwater',
 'Elmore',
 'Gem',
 'Gooding',
 'Idaho',
 'Jerome',
 'Kootenai',
 'Latah',
 'Lewis',
 'Lincoln',
 'Minidoka',
 'Nez Perce',
 'Owyhee',
 'Payette',
 'Power',
 'Shoshone',
 'Washington',
 'Douglas',
 'Lyon',
 'Storey',
 'Washoe',
 'Aitkin',
 'Anoka',
 'Benton',
 'Blue Earth',
 'Brown',
 'Carver',
 'Cass',
 'Chippewa',
 'Chisago',
 'Cottonwood',
 'Crow Wing',
 'Dakota',
 'Dodge',
 'Douglas',
 'Faribault',
 'Fillmore',
 'Freeborn',
 'Goodhue',
 'Grant',
 'Hennepin',
 'Houston',
 'Isanti',
 'Jackson',
 'Kanabec',
 'Kandiyohi',
 'Kittson',
 'Lac qui Parle',
 'Lake of the Woods',
 'Le Sueur',
 'McLeod',
 'Mahnomen',
 'Marshall',
 'Martin',
 'Meeker',
 'Mille Lacs',
 'Morrison',
 'Mower',
 'Nicollet',
 'Norman',
 'Olmsted',
 'Otter Tail',
 'Pine',
 'Polk',
 'Pope',
 'Ramsey',
 'Redwood',
 'Renville',
 'Rice',
 'Roseau',
 'Scott',
 'Sherburne',
 'Sibley',
 'Stearns',
 'Steele',
 'Swift',
 'Todd',
 'Traverse',
 'Wabasha',
 'Wadena',
 'Waseca',
 'Washington',
 'Watonwan',
 'Winona',
 'Wright',
 'Yellow Medicine',
 'Adams',
 'Blackford',
 'Boone',
 'Cass',
 'Clinton',
 'Elkhart',
 'Grant',
 'Hamilton',
 'Howard',
 'LaGrange',
 'LaPorte',
 'Marshall',
 'Montgomery',
 'St. Joseph',
 'Starke',
 'Steuben',
 'Wells',
 'Allegan',
 'Barry',
 'Bay',
 'Branch',
 'Clinton',
 'Eaton',
 'Gratiot',
 'Hillsdale',
 'Kalamazoo',
 'Kent',
 'Lenawee',
 'Monroe',
 'Montcalm',
 'Ottawa',
 'Shiawassee',
 'Washtenaw',
 'Allen',
 'Cuyahoga',
 'Delaware',
 'Hancock',
 'Harrison',
 'Highland',
 'Lorain',
 'Lucas',
 'Medina',
 'Mercer',
 'Morrow',
 'Pickaway',
 'Seneca',
 'Shelby',
 'Van Wert',
 'Ashland',
 'Barron',
 'Buffalo',
 'Crawford',
 'Dunn',
 'Grant',
 'Jefferson',
 'La Crosse',
 'Langlade',
 'Marathon',
 'Ozaukee',
 'Pepin',
 'Pierce',
 'Polk',
 'Richland',
 'St. Croix',
 'Trempealeau',
 'Vernon',
 'Walworth',
 'Washburn',
 'Allamakee',
 'Audubon',
 'Benton',
 'Black Hawk',
 'Boone',
 'Bremer',
 'Buchanan',
 'Buena Vista',
 'Butler',
 'Carroll',
 'Cass',
 'Cerro Gordo',
 'Cherokee',
 'Clay',
 'Clayton',
 'Clinton',
 'Crawford',
 'Dallas',
 'Des Moines',
 'Dickinson',
 'Dubuque',
 'Emmet',
 'Floyd',
 'Franklin',
 'Fremont',
 'Hamilton',
 'Hardin',
 'Harrison',
 'Humboldt',
 'Ida',
 'Jackson',
 'Jefferson',
 'Johnson',
 'Keokuk',
 'Kossuth',
 'Lee',
 'Linn',
 'Louisa',
 'Lyon',
 'Mahaska',
 'Marion',
 'Marshall',
 'Mills',
 'Monona',
 'Monroe',
 'Montgomery',
 'Muscatine',
 "O'Brien",
 'Osceola',
 'Page',
 'Palo Alto',
 'Plymouth',
 'Pocahontas',
 'Polk',
 'Pottawattamie',
 'Sac',
 'Scott',
 'Shelby',
 'Sioux',
 'Tama',
 'Van Buren',
 'Wapello',
 'Washington',
 'Webster',
 'Winnebago',
 'Woodbury',
 'Worth',
 'Wright',
 'Adams',
 'Carroll',
 'Henderson',
 'Jo Daviess',
 'Lake',
 'McHenry',
 'Mercer',
 'Pike',
 'Rock Island',
 'Whiteside',
 'Barnes',
 'Cass',
 'Grand Forks',
 'Nelson',
 'Pembina',
 'Ransom',
 'Richland',
 'Steele',
 'Traill',
 'Walsh',
 'King',
 'Kitsap',
 'Mason',
 'Pierce',
 'Snohomish',
 'Thurston',
 'Butte',
 'Lawrence',
 'Meade',
 'Pennington',
 'Clark',
 'Lewis',
 'Lincoln',
 'Marion',
 'Pike',
 'St. Charles',
 'Freestone',
 'Hale',
 'Leon',
 'Navarro',
 'Rusk',
 'Smith',
 'Terrell',
 'Adams',
 'Arapahoe',
 'Baca',
 'Bent',
 'Cheyenne',
 'Crowley',
 'Denver',
 'Douglas',
 'Elbert',
 'El Paso',
 'Fremont',
 'Kiowa',
 'Kit Carson',
 'Larimer',
 'Las Animas',
 'Lincoln',
 'Logan',
 'Morgan',
 'Otero',
 'Phillips',
 'Prowers',
 'Pueblo',
 'Sedgwick',
 'Teller',
 'Washington',
 'Weld',
 'Yuma',
 'Barton',
 'Butler',
 'Chase',
 'Edwards',
 'Finney',
 'Ford',
 'Grant',
 'Gray',
 'Greenwood',
 'Hamilton',
 'Harvey',
 'Kearny',
 'Lyon',
 'McPherson',
 'Marion',
 'Pawnee',
 'Reno',
 'Rice',
 'Sedgwick',
 'Stafford',
 'Stanton',
 'Colfax',
 'Lincoln',
 'Mora',
 'San Miguel',
 'Andrew',
 'Atchison',
 'Buchanan',
 'Caldwell',
 'Carroll',
 'Clay',
 'Clinton',
 'Daviess',
 'DeKalb',
 'Holt',
 'Jackson',
 'Johnson',
 'Lafayette',
 'Nodaway',
 'Pettis',
 'Platte',
 'Ray',
 'Saline',
 'Delaware',
 'Dutchess',
 'Kings',
 'Nassau',
 'New York',
 'Orange',
 'Putnam',
 'Queens',
 'Richmond',
 'Rockland',
 'Suffolk',
 'Sullivan',
 'Ulster',
 'Westchester',
 'Atlantic',
 'Bergen',
 'Burlington',
 'Camden',
 'Cape May',
 'Cumberland',
 'Essex',
 'Gloucester',
 'Hudson',
 'Hunterdon',
 'Mercer',
 'Middlesex',
 'Monmouth',
 'Morris',
 'Ocean',
 'Passaic',
 'Salem',
 'Somerset',
 'Sussex',
 'Union',
 'Warren',
 'Berks',
 'Bucks',
 'Carbon',
 'Chester',
 'Delaware',
 'Lehigh',
 'Monroe',
 'Montgomery',
 'Northampton',
 'Philadelphia',
 'Pike',
 'Schuylkill',
 'Wayne',
 'Kent',
 'New Castle',
 'Sussex',
 'Ward 9 Police Jury Ward',
 'Acadia Parish',
 'Ascension Parish',
 'Assumption Parish',
 'Avoyelles Parish',
 'Caldwell Parish',
 'Catahoula Parish',
 'East Baton Rouge Parish',
 'East Feliciana Parish',
 'Franklin Parish',
 'Iberia Parish',
 'Iberville Parish',
 'Jefferson Parish',
 'Lafayette Parish',
 'Lafourche Parish',
 'Livingston Parish',
 'Ouachita Parish',
 'Plaquemines Parish',
 'Pointe Coupee Parish',
 'Rapides Parish',
 'Richland Parish',
 'St. Bernard Parish',
 'St. Charles Parish',
 'St. Helena Parish',
 'St. James Parish',
 'St. John the Baptist Parish',
 'St. Landry Parish',
 'St. Martin Parish',
 'St. Mary Parish',
 'St. Tammany Parish',
 'Tangipahoa Parish',
 'Terrebonne Parish',
 'Washington Parish',
 'West Baton Rouge Parish',
 'West Feliciana Parish',
 'Broward',
 'Collier',
 'Dade',
 'Glades',
 'Hendry',
 'Lee',
 'Martin',
 'Monroe',
 'Palm Beach',
 'St. Lucie',
 'Adams',
 'Amite',
 'Claiborne',
 'Franklin',
 'Harrison',
 'Jackson',
 'Jefferson',
 'Lincoln',
 'Pearl River',
 'Pike',
 'Wilkinson',
 'Riverside',
 'San Bernardino',
 'San Diego',
 'Ventura',
 'Humboldt',
 'Eastern District',
 "Manu'a District",
 'Rose Island Island-equivalent',
 'Swains Island Island-equivalent',
 'Western District',
 'Baker',
 'Bleckley',
 'Bryan',
 'Cobb',
 'Crawford',
 'Decatur',
 'Dougherty',
 'Floyd',
 'Hall',
 'Houston',
 'Jefferson',
 'Laurens',
 'Lee',
 'Long',
 'Montgomery',
 'Paulding',
 'Peach',
 'Tattnall',
 'Taylor',
 'Toombs',
 'Treutlen',
 'Washington',
 'Wheeler',
 'Aitkin',
 'Becker',
 'Beltrami',
 'Benton',
 'Cass',
 'Clay',
 'Crow Wing',
 'Itasca',
 'Kittson',
 'Lake of the Woods',
 'Mahnomen',
 'Marshall',
 'Morrison',
 'Norman',
 'Otter Tail',
 'Pennington',
 'Polk',
 'Red Lake',
 'Roseau',
 'Sherburne',
 'Stearns',
 'Todd',
 'Wadena',
 'Wilkin',
 'Wright',
 'Barnes',
 'Cass',
 'Dickey',
 'Grand Forks',
 'Griggs',
 'LaMoure',
 'Nelson',
 'Pembina',
 'Ramsey',
 'Ransom',
 'Richland',
 'Sargent',
 'Steele',
 'Stutsman',
 'Traill',
 'Walsh',
 'Graham',
 'Greenlee',
 'Maricopa',
 'Pima',
 'Pinal',
 'Anderson',
 'Bowie',
 'Camp',
 'Cass',
 'Collin',
 'Cooke',
 'Dallas',
 'Delta',
 'Fannin',
 'Freestone',
 'Gregg',
 'Harrison',
 'Henderson',
 'Lamar',
 'Leon',
 'Marion',
 'Morris',
 'Navarro',
 'Rains',
 'Red River',
 'Rockwall',
 'Rusk',
 'Shelby',
 'Tarrant',
 'Titus',
 'Upshur',
 'Riley',
 'Shawnee',
 'Grant',
 'Hettinger',
 'McHenry',
 'McLean',
 'Mercer',
 'Morton',
 'Oliver',
 'Stark',
 'Boone',
 'Colfax',
 'Greeley',
 'Howard',
 'Nance',
 'Platte',
 'Sherman',
 'Valley',
 'Hudspeth',
 'Inyo',
 'Kern',
 'Monterey',
 'Riverside',
 'San Bernardino',
 'San Diego',
 'San Luis Obispo',
 'Tulare',
 'Barbour',
 'Boone',
 'Braxton',
 'Cabell',
 'Calhoun',
 'Clay',
 'Doddridge',
 'Fayette',
 'Gilmer',
 'Greenbrier',
 'Hampshire',
 'Hardy',
 'Harrison',
 'Jackson',
 'Kanawha',
 'Lewis',
 'Lincoln',
 'Logan',
 'Marion',
 'Mason',
 'Mercer',
 'Mineral',
 'Mingo',
 'Monroe',
 'Nicholas',
 'Pocahontas',
 'Putnam',
 'Raleigh',
 'Randolph',
 'Summers',
 'Tucker',
 'Upshur',
 'Wayne',
 'Wirt',
 'Wood',
 'Wyoming',
 'Koror State',
 'Bell',
 'Boyd',
 'Breathitt',
 'Floyd',
 'Greenup',
 'Harlan',
 'Johnson',
 'Knott',
 'Knox',
 'Lawrence',
 'Leslie',
 'Letcher',
 'Lewis',
 'Magoffin',
 'Martin',
 'Perry',
 'Pike',
 'Powell',
 'Boone',
 'Cook',
 'DuPage',
 'Kane',
 'Lake',
 'La Salle',
 'McHenry',
 'Will',
 'Winnebago',
 'Adams',
 'Antelope',
 'Arthur',
 'Boone',
 'Boyd',
 'Brown',
 'Buffalo',
 'Burt',
 'Butler',
 'Cass',
 'Cedar',
 'Cherry',
 'Clay',
 'Colfax',
 'Cuming',
 'Dakota',
 'Dixon',
 'Dodge',
 'Douglas',
 'Fillmore',
 'Franklin',
 'Frontier',
 'Furnas',
 'Gage',
 'Gosper',
 'Greeley',
 'Hall',
 'Hamilton',
 'Harlan',
 'Hayes',
 'Howard',
 'Jefferson',
 'Johnson',
 'Kearney',
 'Keya Paha',
 'Knox',
 'Lancaster',
 'Madison',
 'Merrick',
 'Nance',
 'Pawnee',
 'Phelps',
 'Pierce',
 'Platte',
 'Polk',
 'Richardson',
 'Saline',
 'Sarpy',
 'Saunders',
 'Seward',
 'Sherman',
 'Stanton',
 'Thayer',
 'Thurston',
 'Wayne',
 'York',
 'Anderson',
 'Atchison',
 'Chase',
 'Cloud',
 'Coffey',
 'Crawford',
 'Doniphan',
 'Douglas',
 'Finney',
 'Franklin',
 'Harper',
 'Jackson',
 'Jefferson',
 'Kingman',
 'Leavenworth',
 'Linn',
 'Lyon',
 'Marion',
 'Miami',
 'Mitchell',
 'Nemaha',
 'Ness',
 'Osage',
 'Pottawatomie',
 'Republic',
 'Wabaunsee',
 'Washington',
 'Tanana ANV/ANVSA',
 'Benewah',
 'Bonner',
 'Boundary',
 'Clearwater',
 'Idaho',
 'Kootenai',
 'Latah',
 'Lewis',
 'Nez Perce',
 'Shoshone',
 'Aransas',
 'Atascosa',
 'Bee',
 'Brooks',
 'Calhoun',
 'Cameron',
 'DeWitt',
 'Duval',
 'Goliad',
 'Gonzales',
 'Hidalgo',
 'Jackson',
 'Jim Hogg',
 'Jim Wells',
 'Karnes',
 'Kenedy',
 'Kleberg',
 'La Salle',
 'Lavaca',
 'Live Oak',
 'McMullen',
 'Matagorda',
 'Nueces',
 'Refugio',
 'San Patricio',
 'Starr',
 'Victoria',
 'Willacy',
 'Zapata',
 'Allegany',
 'Cattaraugus',
 'Beaufort',
 'Bertie',
 'Chowan',
 'Craven',
 'Edgecombe',
 'Greene',
 'Harnett',
 'Hertford',
 'Johnston',
 'Lee',
 'Lenoir',
 'Martin',
 'Moore',
 'Nash',
 'Pasquotank',
 'Perquimans',
 'Pitt',
 'Wake',
 'Washington',
 'Wayne',
 'Wilson',
 'Koror State',
 'Crawford',
 'Sebastian',
 'Bracken',
 'Greenup',
 'Jessamine',
 'Mason',
 'Pendleton',
 'Brown',
 'Clermont',
 'Gallia',
 'Licking',
 'Scioto',
 'Conway',
 'Craighead',
 'Crawford',
 'Faulkner',
 'Grant',
 'Greene',
 'Hempstead',
 'Howard',
 'Independence',
 'Jackson',
 'Logan',
 'Lonoke',
 'Miller',
 'Monroe',
 'Montgomery',
 'Phillips',
 'Pike',
 'Poinsett',
 'Polk',
 'Pope',
 'Pulaski',
 'Scott',
 'Sebastian',
 'Sevier',
 'Union',
 'White',
 'Fayette',
 'Floyd',
 'Howard',
 'Johnson',
 'Choctaw',
 'Haskell',
 'Latimer',
 'Le Flore',
 'Pushmataha',
 'Champaign',
 'De Witt',
 'Logan',
 'McLean',
 'Mason',
 'Piatt',
 'St. Clair',
 'Vermilion',
 'Adams',
 'Athens',
 'Brown',
 'Butler',
 'Clermont',
 'Clinton',
 'Fairfield',
 'Fayette',
 'Gallia',
 'Greene',
 'Guernsey',
 'Hamilton',
 'Hocking',
 'Jackson',
 'Licking',
 'Meigs',
 'Monroe',
 'Montgomery',
 'Morgan',
 'Noble',
 'Perry',
 'Pickaway',
 'Pike',
 'Ross',
 'Scioto',
 'Vinton',
 'Warren',
 'Washington',
 'Hill',
 'Bergen',
 'Essex',
 'Middlesex',
 'Morris',
 'Passaic',
 'Somerset',
 'Union',
 'Aransas',
 'Collingsworth',
 'Refugio',
 'San Patricio',
 'Brown',
 'Daviess',
 'Dearborn',
 'Fayette',
 'Franklin',
 'Gibson',
 'Harrison',
 'Jefferson',
 'Jennings',
 'Ohio',
 'Ripley',
 'Switzerland',
 'Black Hawk',
 'Bremer',
 'Buchanan',
 'Butler',
 'Clayton',
 'Clinton',
 'Delaware',
 'Fayette',
 'Franklin',
 ...]

## Global Land Temperature Data

In [ ]:
filename = 'Global-Land-Temperatures-By-City.csv'
temp_df = pd.read_csv(filename, parse_dates = True, index_col = 'dt')
temp_df.tail()

In [ ]:
# Average temperature in all cities over time
all_temp = temp_df.sort_index()
all_temp1 = all_temp.groupby(['dt']).mean().dropna().head()
plt.plot(all_temp1)

In [ ]:
# USA temperature vs time
usa_temp = temp_df[temp_df['Country'] == 'United States']
usa_temp1 = usa_temp.sort_index().groupby('dt').mean().dropna().head()

In [ ]:
# plot of USA average temperature over time
plt.plot(usa_temp1)
plt.xlabel('Time')
plt.ylabel('Temperature')
plt.title('Average Temperature in the US over time')

In [ ]:
usa_temp.head()

In [ ]:
# import state and capital data
filename = 'us-state-capitals.csv'
capitals = pd.read_csv(filename)
capitals.head()

In [ ]:
capitals_list = capitals['description'].tolist()
capitals_only = usa_temp[usa_temp['City'].isin(capitals_list)]
capitals_only.City.unique()

In [ ]:
# Boxplot of the average temperature in the United States capitals
sns.boxplot(x='AverageTemperature', y='City', data=capitals_only)

In [ ]:
# import US region and division data
filename = 'us-regions-and-divisions.csv'
regions = pd.read_csv(filename)
regions.head()

In [ ]:
capitals.head()

In [ ]:
state_cap_df = regions.set_index('State').join(capitals.set_index('name'))
state_cap_df.reset_index().head()

In [ ]:
capitals_only.reset_index().head()

In [ ]:
region_df = state_cap_df.set_index('description').join(capitals_only.set_index('City'))
region_df1 = region_df.reset_index().dropna().groupby('Division').mean()
region_df1

In [ ]:
region_df1.plot.bar(y='AverageTemperature', title='Regional Average Temperature in the US', legend=False)
plt.ylabel('Average Temperature')

## Federal Emergency Data

In [ ]:
filename1 = 'federal_emergencies.csv'
disaster_df = pd.read_csv(filename1)
disaster_df.head()

In [ ]:
disaster_df.groupby('County').count()

In [ ]:
disaster_type = disaster_df['Disaster Type']
disaster_type.value_counts()

In [ ]:
# extracting the declaration date and disaster type
df1 = disaster_df.loc[:,['Declaration Date','Disaster Type']]

In [ ]:
# individual df for each disaster type to construct plots to show each disaster over time
storm = df1.loc[df1['Disaster Type'] == "Storm"]
flood = df1.loc[df1['Disaster Type'] == "Flood"]
hurricane = df1.loc[df1['Disaster Type'] == "Hurricane"]
snow = df1.loc[df1['Disaster Type'] == "Snow"]
fire = df1.loc[df1['Disaster Type'] == "Fire"]
ice = df1.loc[df1['Disaster Type'] == "Ice"]
tornado = df1.loc[df1['Disaster Type'] == "Tornado"]
drought = df1.loc[df1['Disaster Type'] == "Drought"]
winter = df1.loc[df1['Disaster Type'] == "Winter"]
other = df1.loc[df1['Disaster Type'] != ("Storm","Flood","Hurricane","Snow","Fire","Ice","Tornado","Drought","Winter")]

In [ ]:
# Storm Data
storm1 = pd.to_datetime(storm['Declaration Date']).dt.year.value_counts().sort_index()
# plot of storm occurences
plt.plot(storm1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Storm Occurrences Over Time')

In [ ]:
# Flood Data
flood1 = pd.to_datetime(flood['Declaration Date']).dt.year.value_counts().sort_index()
# plot of storm occurences
plt.plot(flood1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Flood Occurrences Over Time')

In [ ]:
# Hurricane Data
hurricane1 = pd.to_datetime(hurricane['Declaration Date']).dt.year.value_counts().sort_index()
# plot of hurricane occurences
plt.plot(hurricane1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Hurricane Occurrences Over Time')

In [ ]:
# Snow Data
snow1 = pd.to_datetime(snow['Declaration Date']).dt.year.value_counts().sort_index()
# plot of snow occurences
plt.plot(snow1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Snow Occurrences Over Time')

In [ ]:
# Fire Data
fire1 = pd.to_datetime(fire['Declaration Date']).dt.year.value_counts().sort_index()
# plot of fire occurences
plt.plot(fire1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Fire Occurrences Over Time')

In [ ]:
# Ice Data
ice1 = pd.to_datetime(ice['Declaration Date']).dt.year.value_counts().sort_index()
# plot of ice occurences
plt.plot(ice1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Ice Occurrences Over Time')

In [ ]:
# Tornado Data
tornado1 = pd.to_datetime(tornado['Declaration Date']).dt.year.value_counts().sort_index()
# plot of tornado occurences
plt.plot(tornado1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Tornado Occurrences Over Time')

In [ ]:
# Drought Data
drought1 = pd.to_datetime(drought['Declaration Date']).dt.year.value_counts().sort_index()
# plot of drought occurences
plt.plot(drought1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Drought Occurrences Over Time')

In [ ]:
# Winter Data
winter1 = pd.to_datetime(winter['Declaration Date']).dt.year.value_counts().sort_index()
# plot of winter occurences
plt.plot(winter1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Winter Occurrences Over Time')

In [ ]:
# Other Data
other1 = pd.to_datetime(other['Declaration Date']).dt.year.value_counts().sort_index()
# plot of other occurences
plt.plot(other1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Other Occurrences Over Time')

In [ ]:
#misc

In [ ]:
ca_df = disaster_df[disaster_df['State'] == 'CA']

In [ ]:
ca_df['Disaster Type'].value_counts().plot(kind='bar')

In [ ]:
ca_df['Disaster Title'].value_counts().plot(kind='bar')

In [ ]:
storm_df = disaster_df[disaster_df['Disaster Type'] == "Storm"]
storm_df['State'].value_counts().plot(kind='bar')

In [ ]:
storm_df['State'].value_counts().head(10).plot(kind='bar')

In [ ]:
flood_df = disaster_df[disaster_df['Disaster Type'] == "Flood"]
flood_df['State'].value_counts().head(10).plot(kind='bar')