In [16]:
import pandas as pd

In [17]:
filename = 'Global-Land-Temperatures-By-City.csv'
temp = pd.read_csv(filename)
temp.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [21]:
filename1 = 'federal_emergencies.csv'
fed = pd.read_csv(filename1)
fed.head()

,Declaration Number,Declaration Type,Declaration Date,State,County,Disaster Type,Disaster Title,Start Date,End Date,Close Date,Individual Assistance Program,Individuals & Households Program,Public Assistance Program,Hazard Mitigation Program
0,DR-1,Disaster,05/02/1953,GA,NaN,Tornado,Tornado,05/02/1953,05/02/1953,06/01/1954,Yes,No,Yes,Yes
1,DR-2,Disaster,05/15/1953,TX,NaN,Tornado,Tornado and Heavy Rainfall,05/15/1953,05/15/1953,01/01/1958,Yes,No,Yes,Yes
2,DR-3,Disaster,05/29/1953,LA,NaN,Flood,Flood,05/29/1953,05/29/1953,02/01/1960,Yes,No,Yes,Yes
3,DR-4,Disaster,06/02/1953,MI,NaN,Tornado,Tornado,06/02/1953,06/02/1953,02/01/1956,Yes,No,Yes,Yes
4,DR-5,Disaster,06/06/1953,MT,NaN,Flood,Floods,06/06/1953,06/06/1953,12/01/1955,Yes,No,Yes,Yes

In [22]:
temp.values

array([['1743-11-01', 6.068, 1.737, ..., 'Denmark', '57.05N', '10.33E'],
       ['1743-12-01', nan, nan, ..., 'Denmark', '57.05N', '10.33E'],
       ['1744-01-01', nan, nan, ..., 'Denmark', '57.05N', '10.33E'],
       ...,
       ['2013-07-01', 18.775, 0.193, ..., 'Netherlands', '52.24N',
        '5.26E'],
       ['2013-08-01', 18.025, 0.298, ..., 'Netherlands', '52.24N',
        '5.26E'],
       ['2013-09-01', nan, nan, ..., 'Netherlands', '52.24N', '5.26E']],
      dtype=object)

AttributeError: 'DataFrame' object has no attribute 'colnames'