In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
import seaborn as sns
import datetime as dt

## Read CSV File into DataFrames

In [2]:
# global land temperature data by city, with latitude/longitude values
filename = 'Global-Land-Temperatures-By-City.csv'
temp_df = pd.read_csv(filename, parse_dates = True, index_col = 'dt')
temp_df.tail()

,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
dt,,,,,,
2013-05-01,11.464,0.236,Zwolle,Netherlands,52.24N,5.26E
2013-06-01,15.043,0.261,Zwolle,Netherlands,52.24N,5.26E
2013-07-01,18.775,0.193,Zwolle,Netherlands,52.24N,5.26E
2013-08-01,18.025,0.298,Zwolle,Netherlands,52.24N,5.26E
2013-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E

In [3]:
# US federal emergency data, join on county
filename1 = 'federal_emergencies.csv'
disaster_df = pd.read_csv(filename1)
disaster_df.head()

,Declaration Number,Declaration Type,Declaration Date,State,County,Disaster Type,Disaster Title,Start Date,End Date,Close Date,Individual Assistance Program,Individuals & Households Program,Public Assistance Program,Hazard Mitigation Program
0,DR-1,Disaster,05/02/1953,GA,NaN,Tornado,Tornado,05/02/1953,05/02/1953,06/01/1954,Yes,No,Yes,Yes
1,DR-2,Disaster,05/15/1953,TX,NaN,Tornado,Tornado and Heavy Rainfall,05/15/1953,05/15/1953,01/01/1958,Yes,No,Yes,Yes
2,DR-3,Disaster,05/29/1953,LA,NaN,Flood,Flood,05/29/1953,05/29/1953,02/01/1960,Yes,No,Yes,Yes
3,DR-4,Disaster,06/02/1953,MI,NaN,Tornado,Tornado,06/02/1953,06/02/1953,02/01/1956,Yes,No,Yes,Yes
4,DR-5,Disaster,06/06/1953,MT,NaN,Flood,Floods,06/06/1953,06/06/1953,12/01/1955,Yes,No,Yes,Yes

In [4]:
# data of latitude/longitude and county to merge two dataframes
filename2 = 'zip_codes_states.csv'
us_join = pd.read_csv(filename2)
us_join.head()

   zip_code   latitude  longitude        city state     county
0       501  40.922326 -72.637078  Holtsville    NY    Suffolk
1       544  40.922326 -72.637078  Holtsville    NY    Suffolk
2       601  18.165273 -66.722583    Adjuntas    PR   Adjuntas
3       602  18.393103 -67.180953      Aguada    PR     Aguada
4       603  18.455913 -67.145780   Aguadilla    PR  Aguadilla

## Cleaning DataFrames

In [31]:
# temp_df: drop all countries except US
temp_us = temp_df[temp_df['Country'] == 'United States'].dropna()
temp_us.head()

,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
dt,,,,,,
1820-01-01,2.101,3.217,Abilene,United States,32.95N,100.53W
1820-02-01,6.926,2.853,Abilene,United States,32.95N,100.53W
1820-03-01,10.767,2.395,Abilene,United States,32.95N,100.53W
1820-04-01,17.989,2.202,Abilene,United States,32.95N,100.53W
1820-05-01,21.809,2.036,Abilene,United States,32.95N,100.53W

In [6]:
temp_us.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 661524 entries, 1820-01-01 to 2013-09-01
Data columns (total 6 columns):
AverageTemperature               661524 non-null float64
AverageTemperatureUncertainty    661524 non-null float64
City                             661524 non-null object
Country                          661524 non-null object
Latitude                         661524 non-null object
Longitude                        661524 non-null object
dtypes: float64(2), object(4)
memory usage: 35.3+ MB

In [32]:
# temp_df: clean up lat/long data by dropping the NESW direction
temp_us["Latitude"] = temp_us['Latitude'].map(lambda x: str(x)[:-1])
temp_us["Longitude"] = temp_us['Longitude'].map(lambda x: str(x)[:-1])
temp_us.head()

,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
dt,,,,,,
1820-01-01,2.101,3.217,Abilene,United States,32.95,100.53
1820-02-01,6.926,2.853,Abilene,United States,32.95,100.53
1820-03-01,10.767,2.395,Abilene,United States,32.95,100.53
1820-04-01,17.989,2.202,Abilene,United States,32.95,100.53
1820-05-01,21.809,2.036,Abilene,United States,32.95,100.53

In [33]:
# these values are not showing up?
temp_us[temp_us['Latitude'] == 32.95]

Empty DataFrame
Columns: [AverageTemperature, AverageTemperatureUncertainty, City, Country, Latitude, Longitude]
Index: []

In [8]:
# us_join: round latitude and longitude values to two decimal points
us_join['latitude'] = us_join['latitude'].round(decimals=2)
us_join['longitude'] = us_join['longitude'].round(decimals=2)
us_join.head()

   zip_code  latitude  longitude        city state     county
0       501     40.92     -72.64  Holtsville    NY    Suffolk
1       544     40.92     -72.64  Holtsville    NY    Suffolk
2       601     18.17     -66.72    Adjuntas    PR   Adjuntas
3       602     18.39     -67.18      Aguada    PR     Aguada
4       603     18.46     -67.15   Aguadilla    PR  Aguadilla

In [9]:
# us_join: convert negative longitude values to positive to match the temp_us df
us_join['longitude'] = us_join['longitude'].map(lambda x: str(x)[1:])
us_join.head()

   zip_code  latitude longitude        city state     county
0       501     40.92     72.64  Holtsville    NY    Suffolk
1       544     40.92     72.64  Holtsville    NY    Suffolk
2       601     18.17     66.72    Adjuntas    PR   Adjuntas
3       602     18.39     67.18      Aguada    PR     Aguada
4       603     18.46     67.15   Aguadilla    PR  Aguadilla

In [10]:
us_join = us_join.dropna()
us_join['latitude'] = us_join['latitude'].astype('object')
us_join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42049 entries, 0 to 42740
Data columns (total 6 columns):
zip_code     42049 non-null int64
latitude     42049 non-null object
longitude    42049 non-null object
city         42049 non-null object
state        42049 non-null object
county       42049 non-null object
dtypes: int64(1), object(5)
memory usage: 2.2+ MB

In [29]:
us_join[us_join['latitude'] == 40.92]

       zip_code latitude longitude                    city state       county
0           501    40.92     72.64              Holtsville    NY      Suffolk
1           544    40.92     72.64              Holtsville    NY      Suffolk
2534       7005    40.92     74.43                 Boonton    NJ       Morris
2706       7501    40.92     74.17                Paterson    NJ      Passaic
2707       7502    40.92     74.19                Paterson    NJ      Passaic
2710       7505    40.92     74.17                Paterson    NJ      Passaic
2720       7522    40.92     74.18                Paterson    NJ      Passaic
2735       7621    40.92      74.0             Bergenfield    NJ       Bergen
2763       7670    40.92     73.96                 Tenafly    NJ       Bergen
2817       7801    40.92     74.55                   Dover    NJ       Morris
2842       7844    40.92     74.98                    Hope    NJ       Warren
3874      10704    40.92     73.86                 Yonkers    NY  Westchester
4172      11707    40.92     72.64            West Babylon    NY      Suffolk
4173      11708    40.92     72.64              Amityville    NY      Suffolk
4176      11713    40.92     72.64                Bellport    NY      Suffolk
4182      11719    40.92     72.64              Brookhaven    NY      Suffolk
4183      11720    40.92     72.64              Centereach    NY      Suffolk
4189      11727    40.92     72.64                   Coram    NY      Suffolk
4194      11733    40.92     72.64           East Setauket    NY      Suffolk
4198      11738    40.92     72.64            Farmingville    NY      Suffolk
4199      11739    40.92     72.64             Great River    NY      Suffolk
4204      11745    40.92     72.64               Smithtown    NY      Suffolk
4207      11749    40.92     72.64                Islandia    NY      Suffolk
4208      11750    40.92     72.64      Huntington Station    NY      Suffolk
4219      11763    40.92     72.64                 Medford    NY      Suffolk
4220      11764    40.92     72.64            Miller Place    NY      Suffolk
4222      11766    40.92     72.64             Mount Sinai    NY      Suffolk
4228      11772    40.92     72.64               Patchogue    NY      Suffolk
4231      11775    40.92     72.64                Melville    NY      Suffolk
4232      11776    40.92     72.64  Port Jefferson Station    NY      Suffolk
...         ...      ...       ...                     ...   ...          ...
4301      11972    40.92     72.64                  Speonk    NY      Suffolk
4302      11973    40.92     72.64                   Upton    NY      Suffolk
4303      11975    40.92     72.64               Wainscott    NY      Suffolk
4304      11976    40.92     72.64              Water Mill    NY      Suffolk
4305      11977    40.92     72.64             Westhampton    NY      Suffolk
4306      11978    40.92     72.64       Westhampton Beach    NY      Suffolk
4307      11980    40.92     72.64                 Yaphank    NY      Suffolk
6394      16003    40.92     79.93                  Butler    PA       Butler
6395      16016    40.92     79.93                  Boyers    PA       Butler
6396      16017    40.92     79.93                  Boyers    PA       Butler
6397      16018    40.92     79.93                  Boyers    PA       Butler
6399      16021    40.92     79.93               Branchton    PA       Butler
6402      16024    40.92     79.99                 Callery    PA       Butler
6414      16039    40.92     79.93                  Herman    PA       Butler
6447      16117    40.92     80.36            Ellwood City    PA     Lawrence
6520      16259    40.92     79.46               Templeton    PA    Armstrong
6762      16841    40.92     77.68                  Howard    PA       Centre
7404      18241    40.92     76.15               Nuremberg    PA   Schuylkill
7416      18254    40.92     75.94                Tresckow    PA       Carbon
7447      18351    40.92      75.1                Portland    PA  Northampton
19372     44672    40.92     81.02                 Sebring    OH     Mahoning
19450     44848    40.92     82.28                  Nankin    OH      Ashland
19465     44866    40.92     82.19                    Polk    OH      Ashland
19950     45844    40.92      84.3           Fort Jennings    OH       Putnam
20380     46799    40.92     85.28              Zanesville    IN        Allen
23166     52650    40.92     91.21                  Sperry    IA   Des Moines
27145     61462    40.92     90.62                Monmouth    IL       Warren
30170     68403    40.92     96.17                  Manley    NE         Cass
30194     68434    40.92      97.1                  Seward    NE       Seward
30376     68812    40.92     99.29                 Amherst    NE      Buffalo

[106 rows x 6 columns]

In [18]:
outer_join = pd.merge(us_join, temp_us, how='outer', left_on = 'latitude', right_on = 'Latitude')
outer_join

,zip_code,latitude,longitude,city,state,county,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,501.0,40.92,72.64,Holtsville,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
1,544.0,40.92,72.64,Holtsville,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
2,7005.0,40.92,74.43,Boonton,NJ,Morris,NaN,NaN,NaN,NaN,NaN,NaN
3,7501.0,40.92,74.17,Paterson,NJ,Passaic,NaN,NaN,NaN,NaN,NaN,NaN
4,7502.0,40.92,74.19,Paterson,NJ,Passaic,NaN,NaN,NaN,NaN,NaN,NaN
5,7505.0,40.92,74.17,Paterson,NJ,Passaic,NaN,NaN,NaN,NaN,NaN,NaN
6,7522.0,40.92,74.18,Paterson,NJ,Passaic,NaN,NaN,NaN,NaN,NaN,NaN
7,7621.0,40.92,74.0,Bergenfield,NJ,Bergen,NaN,NaN,NaN,NaN,NaN,NaN
8,7670.0,40.92,73.96,Tenafly,NJ,Bergen,NaN,NaN,NaN,NaN,NaN,NaN
9,7801.0,40.92,74.55,Dover,NJ,Morris,NaN,NaN,NaN,NaN,NaN,NaN
10,7844.0,40.92,74.98,Hope,NJ,Warren,NaN,NaN,NaN,NaN,NaN,NaN
11,10704.0,40.92,73.86,Yonkers,NY,Westchester,NaN,NaN,NaN,NaN,NaN,NaN
12,11707.0,40.92,72.64,West Babylon,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
13,11708.0,40.92,72.64,Amityville,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
14,11713.0,40.92,72.64,Bellport,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
15,11719.0,40.92,72.64,Brookhaven,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
16,11720.0,40.92,72.64,Centereach,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
17,11727.0,40.92,72.64,Coram,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
18,11733.0,40.92,72.64,East Setauket,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
19,11738.0,40.92,72.64,Farmingville,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
20,11739.0,40.92,72.64,Great River,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
21,11745.0,40.92,72.64,Smithtown,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
22,11749.0,40.92,72.64,Islandia,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
23,11750.0,40.92,72.64,Huntington Station,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
24,11763.0,40.92,72.64,Medford,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
25,11764.0,40.92,72.64,Miller Place,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
26,11766.0,40.92,72.64,Mount Sinai,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
27,11772.0,40.92,72.64,Patchogue,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
28,11775.0,40.92,72.64,Melville,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
29,11776.0,40.92,72.64,Port Jefferson Station,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
703543,NaN,NaN,NaN,NaN,NaN,NaN,6.779,0.297,Vancouver,United States,45.81,123.46
703544,NaN,NaN,NaN,NaN,NaN,NaN,10.044,0.350,Vancouver,United States,45.81,123.46
703545,NaN,NaN,NaN,NaN,NaN,NaN,13.784,0.519,Vancouver,United States,45.81,123.46
703546,NaN,NaN,NaN,NaN,NaN,NaN,15.975,0.550,Vancouver,United States,45.81,123.46
703547,NaN,NaN,NaN,NaN,NaN,NaN,17.287,0.344,Vancouver,United States,45.81,123.46
703548,NaN,NaN,NaN,NaN,NaN,NaN,16.581,0.364,Vancouver,United States,45.81,123.46
703549,NaN,NaN,NaN,NaN,NaN,NaN,10.870,0.226,Vancouver,United States,45.81,123.46
703550,NaN,NaN,NaN,NaN,NaN,NaN,5.895,0.283,Vancouver,United States,45.81,123.46
703551,NaN,NaN,NaN,NaN,NaN,NaN,3.441,0.437,Vancouver,United States,45.81,123.46
703552,NaN,NaN,NaN,NaN,NaN,NaN,4.391,0.325,Vancouver,United States,45.81,123.46
703553,NaN,NaN,NaN,NaN,NaN,NaN,5.581,0.359,Vancouver,United States,45.81,123.46
703554,NaN,NaN,NaN,NaN,NaN,NaN,5.834,0.230,Vancouver,United States,45.81,123.46
703555,NaN,NaN,NaN,NaN,NaN,NaN,9.338,0.366,Vancouver,United States,45.81,123.46
703556,NaN,NaN,NaN,NaN,NaN,NaN,11.429,0.332,Vancouver,United States,45.81,123.46
703557,NaN,NaN,NaN,NaN,NaN,NaN,13.153,0.465,Vancouver,United States,45.81,123.46
703558,NaN,NaN,NaN,NaN,NaN,NaN,16.514,0.402,Vancouver,United States,45.81,123.46
703559,NaN,NaN,NaN,NaN,NaN,NaN,17.730,0.350,Vancouver,United States,45.81,123.46
703560,NaN,NaN,NaN,NaN,NaN,NaN,15.428,0.593,Vancouver,United States,45.81,123.46
703561,NaN,NaN,NaN,NaN,NaN,NaN,10.969,0.461,Vancouver,United States,45.81,123.46
703562,NaN,NaN,NaN,NaN,NaN,NaN,7.980,0.347,Vancouver,United States,45.81,123.46
703563,NaN,NaN,NaN,NaN,NaN,NaN,4.655,0.448,Vancouver,United States,45.81,123.46
703564,NaN,NaN,NaN,NaN,NaN,NaN,3.086,0.507,Vancouver,United States,45.81,123.46
703565,NaN,NaN,NaN,NaN,NaN,NaN,5.770,0.455,Vancouver,United States,45.81,123.46
703566,NaN,NaN,NaN,NaN,NaN,NaN,7.622,0.221,Vancouver,United States,45.81,123.46
703567,NaN,NaN,NaN,NaN,NaN,NaN,9.120,0.390,Vancouver,United States,45.81,123.46
703568,NaN,NaN,NaN,NaN,NaN,NaN,12.731,0.324,Vancouver,United States,45.81,123.46
703569,NaN,NaN,NaN,NaN,NaN,NaN,15.382,0.267,Vancouver,United States,45.81,123.46
703570,NaN,NaN,NaN,NaN,NaN,NaN,17.467,0.309,Vancouver,United States,45.81,123.46
703571,NaN,NaN,NaN,NaN,NaN,NaN,17.794,0.444,Vancouver,United States,45.81,123.46
703572,NaN,NaN,NaN,NaN,NaN,NaN,16.646,1.206,Vancouver,United States,45.81,123.46

In [17]:
# tried to join on both latitude and longitude, but temp_us data does not show
outerjoin_lat_long = pd.merge(us_join, temp_us, how='outer', left_on = ['latitude', 'longitude'], right_on = ['Latitude', 'Longitude'])
#temp_us.set_index('Latitude').join(us_join.set_index('latitude')).reset_index()
outerjoin_lat_long

,zip_code,latitude,longitude,city,state,county,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,501.0,40.92,72.64,Holtsville,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
1,544.0,40.92,72.64,Holtsville,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
2,11707.0,40.92,72.64,West Babylon,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
3,11708.0,40.92,72.64,Amityville,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
4,11713.0,40.92,72.64,Bellport,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
5,11719.0,40.92,72.64,Brookhaven,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
6,11720.0,40.92,72.64,Centereach,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
7,11727.0,40.92,72.64,Coram,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
8,11733.0,40.92,72.64,East Setauket,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
9,11738.0,40.92,72.64,Farmingville,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
10,11739.0,40.92,72.64,Great River,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
11,11745.0,40.92,72.64,Smithtown,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
12,11749.0,40.92,72.64,Islandia,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
13,11750.0,40.92,72.64,Huntington Station,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
14,11763.0,40.92,72.64,Medford,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
15,11764.0,40.92,72.64,Miller Place,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
16,11766.0,40.92,72.64,Mount Sinai,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
17,11772.0,40.92,72.64,Patchogue,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
18,11775.0,40.92,72.64,Melville,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
19,11776.0,40.92,72.64,Port Jefferson Station,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
20,11777.0,40.92,72.64,Port Jefferson,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
21,11778.0,40.92,72.64,Rocky Point,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
22,11784.0,40.92,72.64,Selden,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
23,11786.0,40.92,72.64,Shoreham,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
24,11789.0,40.92,72.64,Sound Beach,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
25,11792.0,40.92,72.64,Wading River,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
26,11794.0,40.92,72.64,Stony Brook,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
27,11805.0,40.92,72.64,Mid Island,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
28,11901.0,40.92,72.64,Riverhead,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
29,11930.0,40.92,72.64,Amagansett,NY,Suffolk,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
703543,NaN,NaN,NaN,NaN,NaN,NaN,19.196,0.277,Wichita Falls,United States,34.56,99.24
703544,NaN,NaN,NaN,NaN,NaN,NaN,22.822,0.263,Wichita Falls,United States,34.56,99.24
703545,NaN,NaN,NaN,NaN,NaN,NaN,31.761,0.332,Wichita Falls,United States,34.56,99.24
703546,NaN,NaN,NaN,NaN,NaN,NaN,33.778,0.292,Wichita Falls,United States,34.56,99.24
703547,NaN,NaN,NaN,NaN,NaN,NaN,33.593,0.272,Wichita Falls,United States,34.56,99.24
703548,NaN,NaN,NaN,NaN,NaN,NaN,24.062,0.313,Wichita Falls,United States,34.56,99.24
703549,NaN,NaN,NaN,NaN,NaN,NaN,17.938,0.207,Wichita Falls,United States,34.56,99.24
703550,NaN,NaN,NaN,NaN,NaN,NaN,10.882,0.170,Wichita Falls,United States,34.56,99.24
703551,NaN,NaN,NaN,NaN,NaN,NaN,4.956,0.290,Wichita Falls,United States,34.56,99.24
703552,NaN,NaN,NaN,NaN,NaN,NaN,6.998,0.399,Wichita Falls,United States,34.56,99.24
703553,NaN,NaN,NaN,NaN,NaN,NaN,7.405,0.241,Wichita Falls,United States,34.56,99.24
703554,NaN,NaN,NaN,NaN,NaN,NaN,15.835,0.297,Wichita Falls,United States,34.56,99.24
703555,NaN,NaN,NaN,NaN,NaN,NaN,19.594,0.447,Wichita Falls,United States,34.56,99.24
703556,NaN,NaN,NaN,NaN,NaN,NaN,24.565,0.302,Wichita Falls,United States,34.56,99.24
703557,NaN,NaN,NaN,NaN,NaN,NaN,27.907,0.237,Wichita Falls,United States,34.56,99.24
703558,NaN,NaN,NaN,NaN,NaN,NaN,31.184,0.235,Wichita Falls,United States,34.56,99.24
703559,NaN,NaN,NaN,NaN,NaN,NaN,29.413,0.274,Wichita Falls,United States,34.56,99.24
703560,NaN,NaN,NaN,NaN,NaN,NaN,24.843,0.249,Wichita Falls,United States,34.56,99.24
703561,NaN,NaN,NaN,NaN,NaN,NaN,16.698,0.248,Wichita Falls,United States,34.56,99.24
703562,NaN,NaN,NaN,NaN,NaN,NaN,13.219,0.308,Wichita Falls,United States,34.56,99.24
703563,NaN,NaN,NaN,NaN,NaN,NaN,6.204,0.310,Wichita Falls,United States,34.56,99.24
703564,NaN,NaN,NaN,NaN,NaN,NaN,5.317,0.248,Wichita Falls,United States,34.56,99.24
703565,NaN,NaN,NaN,NaN,NaN,NaN,6.631,0.331,Wichita Falls,United States,34.56,99.24
703566,NaN,NaN,NaN,NaN,NaN,NaN,11.062,0.366,Wichita Falls,United States,34.56,99.24
703567,NaN,NaN,NaN,NaN,NaN,NaN,13.965,0.255,Wichita Falls,United States,34.56,99.24
703568,NaN,NaN,NaN,NaN,NaN,NaN,22.002,0.224,Wichita Falls,United States,34.56,99.24
703569,NaN,NaN,NaN,NaN,NaN,NaN,27.887,0.235,Wichita Falls,United States,34.56,99.24
703570,NaN,NaN,NaN,NaN,NaN,NaN,28.183,0.175,Wichita Falls,United States,34.56,99.24
703571,NaN,NaN,NaN,NaN,NaN,NaN,28.880,0.133,Wichita Falls,United States,34.56,99.24
703572,NaN,NaN,NaN,NaN,NaN,NaN,26.466,1.264,Wichita Falls,United States,34.56,99.24

In [48]:
disaster_df = disaster_df.dropna()
disaster_df['County split'] = disaster_df['County'].str.extract(r"\((.*?)\)")

ValueError: pattern contains no capture groups

## Global Land Temperature Data

In [ ]:
filename = 'Global-Land-Temperatures-By-City.csv'
temp_df = pd.read_csv(filename, parse_dates = True, index_col = 'dt')
temp_df.tail()

In [ ]:
# Average temperature in all cities over time
all_temp = temp_df.sort_index()
all_temp1 = all_temp.groupby(['dt']).mean().dropna().head()
plt.plot(all_temp1)

In [ ]:
# USA temperature vs time
usa_temp = temp_df[temp_df['Country'] == 'United States']
usa_temp1 = usa_temp.sort_index().groupby('dt').mean().dropna().head()

In [ ]:
# plot of USA average temperature over time
plt.plot(usa_temp1)
plt.xlabel('Time')
plt.ylabel('Temperature')
plt.title('Average Temperature in the US over time')

In [ ]:
usa_temp.head()

In [ ]:
# import state and capital data
filename = 'us-state-capitals.csv'
capitals = pd.read_csv(filename)
capitals.head()

In [ ]:
capitals_list = capitals['description'].tolist()
capitals_only = usa_temp[usa_temp['City'].isin(capitals_list)]
capitals_only.City.unique()

In [ ]:
# Boxplot of the average temperature in the United States capitals
sns.boxplot(x='AverageTemperature', y='City', data=capitals_only)

In [ ]:
# import US region and division data
filename = 'us-regions-and-divisions.csv'
regions = pd.read_csv(filename)
regions.head()

In [ ]:
capitals.head()

In [ ]:
state_cap_df = regions.set_index('State').join(capitals.set_index('name'))
state_cap_df.reset_index().head()

In [ ]:
capitals_only.reset_index().head()

In [ ]:
region_df = state_cap_df.set_index('description').join(capitals_only.set_index('City'))
region_df1 = region_df.reset_index().dropna().groupby('Division').mean()
region_df1

In [ ]:
region_df1.plot.bar(y='AverageTemperature', title='Regional Average Temperature in the US', legend=False)
plt.ylabel('Average Temperature')

## Federal Emergency Data

In [ ]:
filename1 = 'federal_emergencies.csv'
disaster_df = pd.read_csv(filename1)
disaster_df.head()

In [ ]:
disaster_df.groupby('County').count()

In [ ]:
disaster_type = disaster_df['Disaster Type']
disaster_type.value_counts()

In [ ]:
# extracting the declaration date and disaster type
df1 = disaster_df.loc[:,['Declaration Date','Disaster Type']]

In [ ]:
# individual df for each disaster type to construct plots to show each disaster over time
storm = df1.loc[df1['Disaster Type'] == "Storm"]
flood = df1.loc[df1['Disaster Type'] == "Flood"]
hurricane = df1.loc[df1['Disaster Type'] == "Hurricane"]
snow = df1.loc[df1['Disaster Type'] == "Snow"]
fire = df1.loc[df1['Disaster Type'] == "Fire"]
ice = df1.loc[df1['Disaster Type'] == "Ice"]
tornado = df1.loc[df1['Disaster Type'] == "Tornado"]
drought = df1.loc[df1['Disaster Type'] == "Drought"]
winter = df1.loc[df1['Disaster Type'] == "Winter"]
other = df1.loc[df1['Disaster Type'] != ("Storm","Flood","Hurricane","Snow","Fire","Ice","Tornado","Drought","Winter")]

In [ ]:
# Storm Data
storm1 = pd.to_datetime(storm['Declaration Date']).dt.year.value_counts().sort_index()
# plot of storm occurences
plt.plot(storm1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Storm Occurrences Over Time')

In [ ]:
# Flood Data
flood1 = pd.to_datetime(flood['Declaration Date']).dt.year.value_counts().sort_index()
# plot of storm occurences
plt.plot(flood1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Flood Occurrences Over Time')

In [ ]:
# Hurricane Data
hurricane1 = pd.to_datetime(hurricane['Declaration Date']).dt.year.value_counts().sort_index()
# plot of hurricane occurences
plt.plot(hurricane1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Hurricane Occurrences Over Time')

In [ ]:
# Snow Data
snow1 = pd.to_datetime(snow['Declaration Date']).dt.year.value_counts().sort_index()
# plot of snow occurences
plt.plot(snow1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Snow Occurrences Over Time')

In [ ]:
# Fire Data
fire1 = pd.to_datetime(fire['Declaration Date']).dt.year.value_counts().sort_index()
# plot of fire occurences
plt.plot(fire1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Fire Occurrences Over Time')

In [ ]:
# Ice Data
ice1 = pd.to_datetime(ice['Declaration Date']).dt.year.value_counts().sort_index()
# plot of ice occurences
plt.plot(ice1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Ice Occurrences Over Time')

In [ ]:
# Tornado Data
tornado1 = pd.to_datetime(tornado['Declaration Date']).dt.year.value_counts().sort_index()
# plot of tornado occurences
plt.plot(tornado1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Tornado Occurrences Over Time')

In [ ]:
# Drought Data
drought1 = pd.to_datetime(drought['Declaration Date']).dt.year.value_counts().sort_index()
# plot of drought occurences
plt.plot(drought1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Drought Occurrences Over Time')

In [ ]:
# Winter Data
winter1 = pd.to_datetime(winter['Declaration Date']).dt.year.value_counts().sort_index()
# plot of winter occurences
plt.plot(winter1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Winter Occurrences Over Time')

In [ ]:
# Other Data
other1 = pd.to_datetime(other['Declaration Date']).dt.year.value_counts().sort_index()
# plot of other occurences
plt.plot(other1)
plt.xlabel('Year')
plt.ylabel('Frequency')
plt.title('Other Occurrences Over Time')

In [ ]:
#misc

In [ ]:
ca_df = disaster_df[disaster_df['State'] == 'CA']

In [ ]:
ca_df['Disaster Type'].value_counts().plot(kind='bar')

In [ ]:
ca_df['Disaster Title'].value_counts().plot(kind='bar')

In [ ]:
storm_df = disaster_df[disaster_df['Disaster Type'] == "Storm"]
storm_df['State'].value_counts().plot(kind='bar')

In [ ]:
storm_df['State'].value_counts().head(10).plot(kind='bar')

In [ ]:
flood_df = disaster_df[disaster_df['Disaster Type'] == "Flood"]
flood_df['State'].value_counts().head(10).plot(kind='bar')